name: Tests

on:
  push:
    
jobs:
  test:
    runs-on: ubuntu-latest

    steps:      
    - uses: actions/checkout@v2
      
    - name: Set up Algorand Node
      run: |
        sudo apt-get update
        sudo apt-get install -y gnupg2 curl software-properties-common
        curl -O https://releases.algorand.com/key.pub
        sudo apt-key add key.pub
        sudo add-apt-repository "deb https://releases.algorand.com/deb/ stable main"
        sudo apt-get update
        sudo apt-get install -y algorand-devtools
        mkdir devnet
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pyteal
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Compile TEAL
      run: |
        python security_token.py
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.4
    
    - name: Install Node dependencies
      run: yarn install
      
    - name: Run Tests
      run: yarn test

